body {
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
}
#clock {
    width: 974px;
    margin: 150px;
    text-align: center;
    font-size: 150px;
    color:white;
}
#wrapper {
   width: 90%;
   min-width: 1280px;
   position: relative;
}
#user {
    width: 90%;
    min-width: 1280px;
    position: relative;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.7;
}

/* Add a hover effect if you want */
.fa:hover {
   transform: scale(1.1,1.1);
   opacity: 1.0;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Reddit */
.fa-reddit {
    background: rgb(240, 0, 0);
    color: white;
}
/* Youtube */
.fa-youtube {
    background: rgb(240, 0, 0);
    color: white;
}
/* Yahoo */
.fa-yahoo {
    background: rgb(67, 2, 151);
    color: white;
}
/* Tumblr */
.fa-tumblr {
    background: rgb(50,80,109);
    color: white;
}
#repos {
   position: fixed;
   top: 0;
   right:0;
}
#dropbutton_pos {
    position: fixed;
    top: 0;
    left: 0;
}
.dropbutton {
    background: url("images/dropdown.png");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 36px;
    padding-left: 36px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    opacity: 0.7;
}
.dropbutton:hover {
    opacity: 1.0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

